.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title2 {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

header {
    min-height: 100vh;
    width: 100%;
    background: url("coding.jpg") no-repeat top center / cover;
    position: relative;
}


#scroll {
    width: 110px;
    position: relative;
    animation: mymove 3s infinite;
    animation-play-state: running;
}

@keyframes mymove {
    from {
        top: 15px;
    }

    to {
        top: 90px;
    }
}



.meghnaa {
    margin-top: 20px;
}