.content {

    background-image: url("https://wallpaperaccess.com/full/1372193.jpg");
    background-size: cover;
    color: white;
}

.e-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}


header {
    min-height: 100vh;
    width: 100%;
    background: url("https://maiden-voyage-travel.com/wp-content/uploads/2017/07/shutterstock_54664264.jpg") no-repeat top center / cover;
    position: relative;
}

.basic {
    float: left;
    margin: 20px;
    padding: 10px;

}

#scroll {
    width: 80px;
    position: relative;
    animation: mymove 3s infinite;
    animation-play-state: running;
}

@keyframes mymove {
    from {
        top: 15px;
    }

    to {
        top: 100px;
    }
}


.content {
    min-height: 180vh;
    width: 100%;
    background: url("https://blog.eurail.com/wp-content/uploads/2013/10/shutterstock_273176609.jpg") no-repeat top center / cover;
    position: relative;
}

.inner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(42, 51, 59, 0.699);
    width: 100%;

}

.content-all {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}



.highlite {
    background-image: linear-gradient(#ffd900, #ffd900);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
}

.highlite:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    color: black;
}

.highlite {
    transition: background-size .5s, background-position .3s ease-in .5s;
}

.highlite:hover {
    transition: background-position .5s, background-size .3s ease-in .5s;
}