.myimg {
    height: 250px;
    width: 500px;
    margin: 30px;
}

header {
    min-height: 100vh;
    width: 100%;
    background: url("https://nuwallpaperhd.info/wp-content/uploads/2018/01/Top-Sunset-Wallpapers-Background-Picture.jpg") no-repeat top center / cover;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.flex-container-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin: 10px;
    text-align: center;
}




.content {
    min-height: 420vh;
    width: 100%;
    background: #e39a97 no-repeat top center / cover;
    position: relative;
}

.inner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(42, 51, 59, 0.288);
    width: 100%;

}

.text {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.text-reverse {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

hr {
    color: 15px solid white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffc922;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/*
=====
DEPENDENCIES
=====
*/

.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined {
    /*
        1. I use pixels units because others units (em, rem, vw, vh, etc) can
        lead to the mistake of displaying a circumcised line
    */

    --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px);
    /* 1 */
    --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, .5rem);
    --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

    padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
    position: var(--textUnderlinedPosition, relative) !important;
    z-index: var(--textUnderlinedZindex, 1) !important;
}

.text-underlined::after {
    content: "";
    width: var(--textUnderlinedLineWidht, 100%) !important;
    height: var(--uiTextUnderlinedLineHeight) !important;
    background-image: var(--textUnderlinedBackgroundImage, linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(0, 0, 0, 0) 45%)) !important;

    position: absolute;
    left: var(--textUnderlinedLineLeft, 0) !important;
    bottom: var(--textUnderlinedLineBottom, 0) !important;
    z-index: var(--textUnderlinedLineZindex, -1) !important;
}

/*
=====
CORE
=====
*/

.link {
    --textUnderlinedLineHeight: 100%;
    --textUnderlinedLineGap: 0;
    --textUnderlinedLineColor: #fed330;

    padding-left: .75rem;
    padding-right: .75rem;
}

.link::after {
    will-change: width;
    transition: width .1s ease-out;
    transform: rotate(-2deg);
    transform-origin: left bottom;
}

.link:hover {
    --textUnderlinedLineWidht: 0;
}

.link:hover::after {
    transition-duration: .15s;
}

/*
* These styles for text decoration. The demo will be work without it
*/

.link {
    font-weight: 700;
    text-transform: uppercase;
}

.link:focus {
    outline: 2px solid #fed330;
    outline-offset: .5rem;
}

/*
=====
DEMO
=====
*/

:root {
    --rLinkColor: #222;
}

/* body{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	display: flex;
	height: 100vh;
}
 */
.page {
    box-sizing: border-box;
    /* width: 40%;
    max-width: 25rem; */
    padding: 10px;
    margin-top: 3px;
    margin: auto;
    flex: none;
    font-size: 2em;
    text-align: center;
}

.styled {
    padding: 10px;
    margin-top: 3%;
}

#scroll {
    width: 110px;
    position: relative;
    animation: mymove 3s infinite;
    animation-play-state: running;
}

@keyframes mymove {
    from {
        top: 15px;
    }

    to {
        top: 90px;
    }
}


.next {
    margin-top: 50%;
    text-align: center;
    color: white;
    text-decoration: none;
}